nav ul {
    z-index: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 2px solid #ebc852;
    align-items: center;
    position: fixed; 
    margin: 0;
    top: 0; 
    right: 0; 
    left: 0;
    background-color: #36538b;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: large;
}

nav ul li a {
    transition: all 0.3s ease 0s;
    color: #ebc852;
}

nav ul li a:hover {
    transition: all 0.3s ease 0s;
    color:white;
}

@media only screen and (max-width: 768px) {
    nav ul {
        padding: 10px;
    }
}