.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 150px;
    row-gap: 50px;
    font-family: pipboy;
}

.card {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #000300;
    padding: 10px;
    border: 3px solid #ebc852;
    border-radius: 25px;
    width: max-content;
    color: #00ee00;
    cursor: pointer;
}

.card:hover {
    color:#009e00;
}

.cardText {
    font-size: large;
    padding: 0;
    list-style: none;
    text-align: left;
}

.cardImg {  
    width: 150px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 98%;
    }
}