.title {
    margin-top: 50px;
    color: #ebc852;
}

.terminal {
    background-color: #000300;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid #ebc852;
    color: #00ee00;
    font-family: pipboy;
    width: 90%;
    font-size: large;
    text-align: center;
}

div p {
    text-align: left;
    margin-bottom: 0;
}

.boy {
    width: 20%;
    height: auto;
    margin: 0;
    display: flex;
}

.button {
    color: #00ee00;
    border: none;
    border-radius: none;
    padding: none;
    background-color: #000300;
    font-size: large;
    margin: 0;
    cursor: default;
    padding: 5px;
    margin: 2px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid transparent;
}

.button:hover {
    border: 1px solid #00ee00;
    background-color: #008e002a;
}

.remaining {
    display: flex;
    margin: 2px;
    padding: 5px;
    font-size: large;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.stats {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 5px;
}

.number {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: larger;
    align-items: center;
}

.statNum {
    margin-left: 10px;
    margin-right: 10px;
}

.desc {
    text-align: center;
    margin-bottom: 20px;
}

.statBtn {
    width: 30px;
    height: 20px;
    display: flex;
    align-self: center;
}

.descContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

div input {
    margin-left: 5px;
    background-color: #000300;
    box-shadow: none;
    border: 1px solid #00ee00;
    width: min-content;
    font-family: pipboy;
    font-size: large;
}


@media only screen and (max-width: 768px) {
    .stats {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .desc {
        font-size: small;
        text-align: center;
    }

    .boy {
        width: 130px;
    }

    div p {
        font-size: medium;
        text-align: center;
    }

    .terminal {
        width: 98%;
    }
}